#title {
    text-align: left;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    background-color: #808080;
    padding-left: 1em;
    padding-top: 3em;
    padding-bottom: 1em;
    font-size: 2em;
}

ul.MainMenu {
    font-size: 20px;
    list-style: none;
}

li.MainMenu {
    float: left;
}

#button {
    float: left;
    list-style: none;
    text-align: center;
    background-color: #808080;
    margin-right: 30px;
    width: 150px;
    line-height: 60px;
}